@import url('https://fonts.googleapis.com/css2?family=Amarante&amp;family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&amp;display=swap');
.main{
    background-image: url('../../wallpapers.com/images/featured/coffee-shop-background-02x9a49rdcr5c18i.jpg');
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    right: 0;
    left: 0;
    height: 500px;
}
.trans{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 500px;
    background-color: #00000079;
}
.h{
    position: relative;
    color: white;
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -30px;
    font-size: 70px;
}
.contact{
    position: absolute;
    top: 90%;
    display: flex;
    gap: 130px;
    margin-left: 50px;
}
.form-control{
    padding: 10px;
    margin-right: 50px;
    outline: 0;
    padding-left: 70px;
    border-bottom: 2px solid #8c563781;
    border-top: 0px;
    border-left: 0px; 
    border-right:0px ; 
       font-size: 20px;
       padding-top: 20px;
       transition: border-color 0.6s linear ;
       margin-bottom: 40px;
    }
.send{
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: #612502;
    color: white;
    left: -10px;
    }
    .send:hover{
        background-color:white;
        color:  #612502;
        border: 2px solid #612502;
    }
.form-controls{
border-bottom: 2px solid #8c563781;
border-top: 0px;
border-left: 0px;
border-right:0px ; 
margin-left: -10px;
outline: 0;
   font-size: 20px;
   padding-top: 20px;
   padding-left: 70px;
   transition: border-color 0.6s linear ;
   margin-bottom: 50px;
}
.form-controls:hover, .form-control:hover,.form-control:focus,.form-controls:focus{
    border-color: #8C5637;
}
.usr{
    position: relative;
    margin-bottom: -10px;
    margin-right: -50px;
    z-index: 2;
}
.eml{
    position: relative;
    margin-bottom: -10px;
    margin-right: -50px;
    z-index: 2;
}
.pen{
 position: relative;
 margin-right: -40px;
 top: -150px;
 left: 0px;
 z-index: 2;
 width: 30px;
}
.contact h2{
    position: relative;
    margin-top: 20px;
    font-size: 40px;
    color: #8C5637;
    margin-bottom: 30px;
}
.contact p{
    position: relative;
    font-size: 20px;
    color: #8C5637;

}
.contact a{
    position: relative;
    text-decoration: none;
    color: #8C5637;
    }
.footer{
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 1100px;
    background-color: #e1e1e1;
}
.email{
    text-align: center;
    padding-bottom: 50px;
}
.eh{
    font-size: 40px;
    color: #612502;
    font-weight: 500;
}
.ep{
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
}
.em{
    width: 600px;
    height: 50px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid #cdcdcd;    
    border-radius: 30px;
    font-size: medium;
}
.em:focus{
    outline: 2px solid #612502;
}
.es{
    height: 40px;
    width: 100px;
    font-size: 15px;
    background-color: white;
    color:#612502 ;
    border: 1px solid #612502;
    border-radius: 30px;
    margin-left: -110px;
    cursor: pointer;
    transition: 2s;
}
.es:hover{
    background-color: #612502;
    color: white;
    }
.foot{
    background-color:#2d1100;
    display: flex;
    padding-bottom: 50px;

}
.follow {
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.follow-icon{
    margin-top: 20px;

}
.follow-icon i{
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border:none ;
    border-radius: 200px;
}
.follow-icon i:hover{
    background-color: #8C5637;
    color: #fff;
}
.csc{
    padding-top: 60px;
    display: flex;
    color: white;
    padding-left: 150px;
}
.csc p{
    font-size: 30px;
    padding-left: 20px;
    font-family:"PT Serif", serif;
    }
.csc div{
    padding-right: 100px;
}
.csc .ul{
    list-style: none;
    margin-left: -20px;
    color: #d49875;
    margin-top: -20px;
}
.csc .ul li{
    padding-bottom: 10px;
}
.csc .ul a{
    color: #d49875;
    text-decoration: none;
    }
.csc .ul a:hover{
    color: #f0e0d6;
}
.n-link{
    color: #cdcdcd;
}
.ci i{
    padding: 10px;
    margin-right: 10px;
    background-color:#612502;
    border:none ;
    border-radius: 200px;
    color: white;
    box-shadow: 1px 2px 2px 0px #000;
}
.ci i:hover{
    background-color: #fff;
    border:2px solid #612502;
    color:#612502;    
}